<?php include(TEMPLATE.'common/header.html');?>
	<title><?php echo LNG('ui_desktop').' - '.strip_tags(LNG('kod_name')).LNG('kod_power_by');?></title>
	<link rel="stylesheet" href="<?php echo STATIC_PATH;?>style/skin/base/app_desktop.css?ver=<?php echo KOD_VERSION;?>"/>
	<link rel="stylesheet" href="<?php echo STATIC_PATH;?>style/skin/<?php echo $config['user']['theme'];?>.css?ver=<?php echo KOD_VERSION;?>" id='link-theme-style'/>
	
</head>
<body style="overflow: hidden;" oncontextmenu="return core.contextmenu();" id="page-desktop">
	<?php echo '<style >.aero:before,.aero:after,.full-background-wall{background-image:url('.$wall.')}</style>';?>
	<div class="full-background-wall desktop"><img class="background" /></div>

	<?php include(TEMPLATE.'common/navbar.html');?>
	<div class='bodymain drag-upload-box desktop'>
		<div class="file-continer file-list-icon hidden" data-step="5" data-intro="这里是桌面应用,现在开启应用吧。" data-position='bottom'></div>
	</div><!-- html5拖拽上传list -->

	<a href="#" class="start" data-step="4" data-intro="个人中心设置在这里。" data-position='right'></a>
	<div id="taskbar" style="display:block;" class="">
		<div class="taskbar-background aero"></div>
		<div id="desktop"></div>
	</div>
	<div class="taskbar-right">
 		<div class="copyright dropdown-toggle"><i class="icon-info-sign"></i></div>
		<div class="tab-hide-all"></div>
	</div>
	<div id="menuwin" class="aero">
		<div id="startmenu"></div>
		<ul id="programs">
			<li class='setting_help'><a href="#" onclick="core.setting('help');"><?php echo LNG('setting_help');?></a></li>
			<li><div id="leftspliter"></div></li>
			<li class='setting_about'><a href="#" onclick="core.setting('about');"><?php echo LNG('setting_about');?></a></li>
			<li class='setting_user'><a href="#" onclick="core.setting('user');"><?php echo LNG('setting_user');?></a></li>
			<li class='setting_homepage'><a href="#" onclick="core.openWindow('http://kodcloud.com','<?php echo $L['my_document'];?>');">kodCloud 主页</a></li>
		</ul>
		<ul id="links">
			<li class="icon"></li>
			<li><a href="#" onclick="core.explorer('<?php echo KOD_USER_SHARE.':'.$_SESSION['kodUser']['userID'].'/';?>','<?php echo LNG('my_share');?>');"><span><?php echo LNG('my_share');?></span></a></li>
			<li><a href="#" onclick="core.explorer('<?php echo MYHOME;?>/pictures','<?php echo LNG('my_picture');?>');"><span><?php echo LNG('my_picture');?></span></a></li>
			<li><a href="#" onclick="core.explorer('<?php echo MYHOME;?>/music','<?php echo LNG('my_music');?>');"><span><?php echo LNG('my_music');?></span></a></li>
			<li><a href="#" onclick="core.explorer('<?php echo MYHOME;?>/download','<?php echo LNG('download');?>');"><span><?php echo LNG('download');?></span></a></li>
			<li><div id="rightspliter"></div></li>
			<li><a href="#" onclick="core.setting('wall');"><span><?php echo LNG('setting_wall');?></span></a></li>
			<li><a href="#" onclick="core.setting('fav');"><span><?php echo LNG('setting_fav');?></span></a></li>
			<li><a href="#" onclick="core.setting('theme');"><span><?php echo LNG('setting_theme');?></span></a></li>
			<li><a href="./index.php?user/logout" style="margin-top:70px;"><span><?php echo LNG('ui_logout');?>></span></a></li>
		</ul>
	</div>
	<?php include(TEMPLATE.'common/footerCommon.html');?>
	<script type="text/javascript">
		var desktopApps = <?php echo json_encode($desktopApps);?>;
		G.thisPath = G.myDesktop;
		seajs.use("app/src/desktop/main");

		//新用户引导	
		var newVisitor = isNewVisitor();
		if(newVisitor === true) {
			introJs().setOptions({'prevLabel':'&larr; 上一步','nextLabel':'下一步 &rarr;','skipLabel':'跳过','doneLabel':'完成'}).start();
			// 标记：30天内不在出现新用户引导
			setCookie("svdnotes-visited","true", 30);
		}

		function isNewVisitor() {
		// 从cookie读取“已经向访客提示过消息”的标志位
			var flg = getCookie("svdnotes-visited");
			if (flg === "") {return true;} else {return false;}
		}
	    // 写字段到cookie
		function setCookie(cname, cvalue, exdays) {
			var d = new Date();
			d.setTime(d.getTime() + (exdays*24*60*60*1000));
			var expires = "expires="+d.toUTCString();
			document.cookie = cname + "=" + cvalue + "; " + expires +";path=/";
		} 
	    // 读cookie
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for(var i=0; i<ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') c = c.substring(1);
				if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
			}
			return "";
		}

		//检测cookie['kodbase']是否存在，不存在强制退出
		function login_close(flag){
			var is_kodbase = document.cookie.indexOf(flag);
			if(is_kodbase == -1) {
				jQuery.get('user.php?mod=login&op=logging&action=logout&formhash='+_header.formhash+'&t='+new Date().getTime(),function(data){
					window.location.reload();
				});
			}
		}
	</script>
</body>
</html>

